<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.podcopic.animationlib.androidsimplifiedanimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.AttentionView" />
        <activity android:name=".Views.BounceInView" />
        <activity android:name=".Views.FadeInView" />
        <activity android:name=".Views.FadeOutView" />
        <activity android:name=".Views.FlipView" />
        <activity android:name=".Views.RotationInView" />
        <activity android:name=".Views.RotationOutView" />
        <activity android:name=".Views.SlidersView" />
        <activity android:name=".Views.SpecialView" />
        <activity android:name=".Views.ZoomInView" />
        <activity android:name=".Views.ZoomOutView"></activity>
    </application>

</manifest>
